/* ===================================================================================================================== */

/*                                                  HOME PAGE                                                             */

/* ===================================================================================================================== */


.hp{
    background: #9eeab7a2;
    width: 100%;
    
}

.hp .top-nav{
    
    background: rgb(175, 170, 170);
    display: flex;


}
.hp .top-nav .search-col{
    margin: 7px;
    margin-left: 20px;
    padding: 5px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    width: 900px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-right: 330px;
}



.hp .top-nav img{
    margin: 10px;
    margin-left: 10px;
    width: 30px;
    align-items: end;
}
.top-burger{
    width: 300px;
    height: 200px;
    margin: 25px;
}



                            /* main-1  */
.main-1{
    margin-top: 20px;
    height: 250px;
    background-color: #0f2450eb;
    display: flex;
    align-self: center;
    justify-content: center;
    justify-content: space-around;
}
.main-1 .main-1-img{
    padding: 30px;
    width: 300px;
}

.main-2 {
    display: flex;  
}
.main-2 a{
    display: block;
    margin-left: 170px;
    margin-top: 40px;
}
.main-2 img{
    width: 150px;
    height: 150px;
    /* margin-left: 170px;
    margin-top: 40px; */


}
.foot {
    margin-top: 50px ;
    padding-left: 50px;
    padding: 20px;
    background: rgb(231, 189, 189);
    margin-bottom: 20px;

}
.foot a{
    color: #0c3234;
}
